<div class="page-heading about-heading header-text" style="background-image: url(assets/images/New/Head/head-1.webp);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="/assets/images/New/About/about.webp" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h3 style="color: #f33f3f;">ABOUT NANAK SONS SAREES</h3>
                    <p><b>Nanak Sons Sarees</b> was established in <b>2009</b> as a sole proprietorship firm. We operate out of our office in New Delhi and have emerged as one of the top ranking manufacturer, trader, supplier and exporter of the most popular Ethnic Indian Saree. We also deal in other types of Men’s and Women’s Traditional Wear. Our primary trading market includes the Middle East, South East Asia and of course the Indian Subcontinent. Our large and varied line of products and the importance we lay on quality has endeared our service and products to our clients. We have state of the art quality testing facilities and process with a robust and active R & D which helps us maintain and improve the quality of our products.<br>
                    We have a highly experienced and professional staff trained to handle their job responsibilities with the highest levels of commitment and dedication. We have an experienced work force within our facility and on the field. They work in perfect synchrony to help us achieve our immediate and long term goals and objectives.</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                </div>

                <h5>Lorem ipsum dolor sit amet.</h5>

                <p>As wholesalers of a wide range of 
                <b>Sarees, Lehenga, Men’s Ethnic Wear and Ladies Suit,</b> we have emerged as the first choice of our customers because we deliver high quality at low prices and have a delivery and dispatch system that works with clockwork precision. Professionals with proven ability and skills are engaged for managing various areas of our operations.<br>
                Our quality-testing unit is efficiently managed by quality control professionals with years of experience in the industry. A strict watch is maintained on the testing process to ensure that the quality standards are maintained as per international standards. We believe in ethical business policies and business dealings with the clients are highly transparent.</p>

                <br>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati?
                    <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam
                    culpa iure!</p>
            </div>
        </div>
    </div>
</div>